.information {
    &__wrapper {
        display: grid;
        padding-right: 100px;
        grid-template-columns: 400px 570px;
        grid-template-rows: 240px minmax(320px, auto);
        gap: 40px 70px;
    }
    &__photo {
        grid-row: 1 / 3;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    &__subtitle {
        position: relative;
        padding: 6px 0 6px 12px;
        @include before_circle;
        z-index: 2;
    }
    &__text {
        margin-top: 20px;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
    }
    &__skills {
        display: grid;
        grid-template-columns: repeat(2, 260px);
        grid-template-rows: repeat(2, 115px);
        grid-auto-rows: minmax(115px, auto);
        gap: 20px 50px;
    }
    &__skill-item {
        display: flex;
        &__logo {
            min-width: 60px;
            position: relative;
            @include before_circle;
            padding: 15px 0 0 15px;
            z-index: 2;
        }
        &__description {
            margin-top: 6px;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
        }
    }
}