.price-list {
    &__wrapper {
        margin-top: 60px;
        padding: 0 50px;
        display: grid;
        grid-template: repeat(3, minmax(45px, auto)) / repeat(2, 370px);
        grid-auto-rows: minmax(45px, auto);
        gap: 15px 300px;
    }
    &__item {
        position: relative;
        z-index: 2;
        padding-left: 25px;
        &::before {
            position: absolute;
            content: '';
            top: 3px;            
            left: 0;
            width: 15px;
            height: 15px;
            border-radius: 100%;
            background-color: $main-color;
            z-index: -1;
        }
        &__head {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        &__description {
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            margin-top: 5px;
        }
    }
    &__price {
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
    }
}