.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 60px;
    margin-bottom: 0;
    &_fs14 {
        font-size: 14px;
        line-height: 21px;
    }
    &_fs16 {
        font-size: 16px;
        line-height: 24px;
    }
    &_fs20 {
        font-size: 20px;
        line-height: 30px;
    }
    &_fs48 {
        font-size: 48px;
    }
    &_circle-center {
        text-align: center;
        position: relative;
        @include before_circle;
        z-index: 2;
        padding: 6px 0 6px 0;
        &::before {
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &_center {
        text-align: center;
    }
}